<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survival Game</title>
    <link rel="stylesheet" href="main.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <base href="/" />
  </head>
  <body>
    <div class="main_container">
      <div class="first_bar">
        <i
          style="color: white; margin-top: 70%; margin-left: 30%"
          class="fa-solid fa-microphone"
        ></i>
        <i
          style="color: white; margin-top: 70%; margin-left: 25%"
          class="fa-solid fa-comment-dots"
        ></i>
        <i
          style="color: white; margin-top: 70%; margin-left: 25%"
          class="fa-solid fa-user"
        ></i>
        <i
          style="
            color: white;
            margin-top: 70%;
            margin-left: 25%;
            margin-bottom: 30%;
          "
          class="fa-solid fa-arrow-right-from-bracket"
        ></i>
      </div>
      <div class="second_bar"></div>
      <div></div>
    </div>
  </body>

  <script src="/public/js/app.js"></script>

  <script type="module" src="src/main.js"></script>

  <script src="/socket.io/socket.io.js"></script>
</html>
