doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title 1234
    body 

    div(class="main_container")
      div(class="first_bar")
        i#mute(style="color: white; margin-top: 70%; margin-left: 30%"
          class="fa-solid fa-microphone" onclick="mic()")           
        i(style="color: white; margin-top: 70%; margin-left: 25%"
          class="fa-solid fa-comment-dots" onclick="chatscreen()")
        i(style="color: white; margin-top: 70%; margin-left: 25%"
          class="fa-solid fa-user" onclick="visitorscreen()")
        i(style="color: white;margin-top: 70%;margin-left: 25%;margin-bottom: 30%;"
        class="fa-solid fa-arrow-right-from-bracket" onclick="outfunction()")
      div(class="second_bar")
        div#scroll
          div(class="display" id="msg-field")
        div#scroll2
          div(class="display2" id="msg-field")
          div
            div#welcome
             form
                 input#roomname(placeholder="room name", required, type="text")
                 button Enter Room 
                 
      div
        div(id="index" style="width:610px; height:360px;")
        div#room
            h3
            ul
            form#name
                input(placeholder="nickname", required, type="text")
                button Send 
            form#msg
                input(placeholder="message", required, type="text")
                button Send 

            div#call
                div#myStream
                    video#myFace(autoplay,playsinline, width="400", height="400")
                    video#peerFace(autoplay,playsinline, width="400", height="400")

        

        script(src="/socket.io/socket.io.js")
        script(src="../public/app.js")
        script(src="../public/bundle.js")


        style
          include main.css

         


     


     
       
    
     
        
        

    


